@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Montserrat', 'sans-serif';
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
   background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 20%;
  height: 100vh;
  padding: 12px;
  position: fixed;
}
header h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 12px;
}


ul{
  margin-top: 30px;
}


.search-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 50px;
}

.search-container form {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 5px;
}

.search-container form .btn-search {
  padding: 3px 15px;
  background-color: #260872;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container form .btn-search:hover {
  background-color: #317033;
  cursor: pointer;
}

.search-input {
  padding: 3px 15px;
  margin-left: 10%;
}

.search-container form .btn-search i{
  margin-right: 10px;
}

ul li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 50px;
}

li a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: white;
   transition: transform 0.2s ease;
}

li a .icon {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #1a203e;
 background-color: #010e2f;
  border-radius: 8px
}

li a:hover {
  background-color: #212842;
  color: white;
  border-radius: 8px;
  transform: translateX(8px);
}


a {
  text-decoration: none;
}

.logout-btn{
  display: inline-block; 
  padding: 6px 12px;
  background-color: #010e2f;
  border-radius: 12px;
  text-decoration: none;
  color: white;
}

.logout-btn:hover{
  color: red;
  background-color: rgb(22, 2, 2);
  border: 1px solid rgb(83, 0, 0);
}

.account-info {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
   border-radius: 8px;
  color: white;
   background-color: rgba(255, 255, 255, 0.04); 
    border: 1px solid rgba(255, 255, 255, 0.08); 
}

main {
  margin-left: 20%;
  min-height: 100vh;
}

.search {
  padding: 3px 15px;
  margin-left: 10%;
}

.management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10%;
}

.management-container h1 {
  color: white;
   font-size: 35px;
  padding: 10px;
}

.management-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: none;
  color: white;
}

.management-list a {
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.management-list .tambah-btn, 
.management-list .penerbit-btn,
.management-list .tambahKategori-btn, 
.management-list .tambahPenulis-btn {
  color: rgb(255, 255, 255);
  background-color: #260872;
}


.title-management {
  align-self: flex-start;
  margin-bottom: 20px;
}

.tambah-buku-container,
.tambah-penerbit-container,
.tambah-kategori-container,
.tambah-penulis-container
{
  color: white;
  background: rgba(255, 255, 255, 0.07); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15); 
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 20px;
  line-height: 1.1;
  flex-direction: column;
}

.management-container .icon {
  padding: 8px;
  width: 20px;
  border: 1px solid #f0f3ff;
    border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: none;
  color: white;
  border-radius: 8px
}

body {
    background: linear-gradient(135deg,
    #020221,
    #030327,
    #0b1b4d,
    #132967,
    #0e2157
  );
}