@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Montserrat', 'sans-serif';
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #1a1b1f;
  width: 20%;
  height: 100vh;
  padding: 12px;
  position: fixed;
  box-shadow: 2px 4px 1px rgb(0, 0, 0, 0.5);
}
header h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 12px;
}


ul{
  margin-top: 30px;
}


ul li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 50px;
}

li a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease;
}

li a .icon {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #1a1b1f;
  background-color: #212842;
  border-radius: 8px
}

li a:hover {
  background-color: #212842;
  color: white;
  border-radius: 8px;
  transform: translateX(8px);
}


.logout-btn{
  display: inline-block; 
  padding: 6px 12px;
  background-color: red;
  border: 1px solid rgb(173, 0, 0);
  border-radius: 12px;
  text-decoration: none;
  color: white;
}

.logout-btn:hover{
  background-color: rgb(157, 0, 0);
  border: 1px solid rgb(83, 0, 0);
}

.account-info {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

main {
  background-color: #212842;
  margin-left: 20%;
  min-height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #1a1b1f;
  width: 100%;
  height: 50px;
}

.search {
  padding: 3px 15px;
  margin-left: 10%;
}

.management-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10%;
}

.management-container h1 {
  color: white;
   font-size: 35px;
  padding: 10px;
}

.management-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 20px;
}

.management-list a {
  padding: 20px 24px;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.5);
}

.management-list .tambah-btn {
  color: rgb(6, 190, 6);
  background-color: rgb(6, 100, 6);
  border: 1px solid green;
}

.management-list .penerbit-btn{
  color: rgb(81, 81, 245);
  background-color: rgb(0, 0, 117);
  border: 1px solid rgb(0, 0, 251);
}

.management-list .tambahKategori-btn {
  color: rgb(243, 243, 7);
  background-color: rgb(171, 171, 2);
  border: 1px solid rgb(255, 255, 0);
}

.management-list a:hover {
  color: white;
  text-shadow: 0 0 2px white;
  border: 1px solid white;
  transition: all 0.1s ease-in;
  box-shadow: 0 2px 1px white;
}